.wrapButtons {
    border: 1px solid black;
    border-radius: 10px;
    width: 300px;
    height: 60px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: cornflowerblue;
}
.wrapButtons button {
    height: 30px;
}